<% layout("/layouts/boilerplate") %>

<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
    }

    .filter {
        text-align: center;
        margin-top: 2rem;
        opacity: .7;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p {
        font-size: .9rem;
    }

    .tax-info {
        display: none;
    }

    .tax-toggle {
    margin-left: 80%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #000;
    height: 2.5rem;
    padding: 5px;
    font-weight: 600;
  }


    @media (max-width: 768px) {
    .castles,
    .pool,
    .camps,
    .farms,
    .arctic,
    .tinyhome,
    .beach,
    .golfing,
    .lake,
    .towers,
    .boat {
      display: none;
    }
    .tax-toggle {
        margin-left: 60% !important;
    }
  }

  @media (max-width: 1000px) {
    .castles,
    .camps,
    .farms,
    .tinyhome,
    .golfing,
    .lake,
    .towers,
    .boat {
      display: none;
    }
  }

  @media (max-width: 992px) {
    .castles,
    .camps,
    .farms,
    .tinyhome,
    .golfing,
    .lake,
    .towers,
    .boat {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .castles,
    .camps,
    .farms,
    .tinyhome,
    .golfing {
      display: none;
    }
  }
  @media (max-width: 1500px) {
    .tinyhome,
    .golfing {
      display: none;
    }
  }
</style>
    
<div id="filters">
  <div class="filter trending">
    <div>
      <i class="fa-solid fa-fire-flame-curved"></i>
    </div>
    <p class="filterText">Trending</p>
  </div>
  <div class="filter rooms">
    <div>
      <i class="fa-solid fa-person-shelter"></i>
    </div>
    <p class="filterText">Rooms</p>
  </div>
  <div class="filter iconicCity">
    <div>
      <i class="fa-solid fa-mountain-city"></i>
    </div>
    <p class="filterText">Iconic City</p>
  </div>
  <div class="filter mountains">
    <div>
      <i class="fa-solid fa-mountain-sun"></i>
    </div>
    <p class="filterText">Mountains</p>
  </div>
  <div class="filter castles">
    <div>
      <i class="fa-brands fa-fort-awesome"></i>
    </div>
    <p class="filterText">Castles</p>
  </div>
  <div class="filter pool">
    <div>
      <i class="fa-solid fa-person-swimming"></i>
    </div>
    <p class="filterText">Pool</p>
  </div>
  <div class="filter camps">
    <div>
      <i class="fa-solid fa-signs-post"></i>
    </div>
    <p class="filterText">Camps</p>
  </div>
  <div class="filter farms">
    <div>
      <i class="fa-solid fa-cow"></i>
    </div>
    <p class="filterText">Farms</p>
  </div>
  <div class="filter arctic">
    <div>
      <i class="fa-solid fa-snowman"></i>
    </div>
    <p class="filterText">Arctic</p>
  </div>
  <div class="filter tinyhome">
    <div>
      <i class="fa-solid fa-house-chimney"></i>
    </div>
    <p class="filterText">Tiny Home</p>
  </div>
  <div class="filter beach">
    <div>
      <i class="fa-solid fa-umbrella-beach"></i>
    </div>
    <p class="filterText">Beach</p>
  </div>
  <div class="filter golfing">
    <div>
      <i class="fa-solid fa-golf-ball-tee"></i>
    </div>
    <p class="filterText">Golfing</p>
  </div>
  <div class="filter lake">
    <div>
      <i class="fa-solid fa-water"></i>
    </div>
    <p class="filterText">Lake</p>
  </div>
  <div class="filter towers">
    <div>
      <i class="fa-solid fa-tower-observation"></i>
    </div>
    <p class="filterText">Towers</p>
  </div>
  <div class="filter boat">
    <div>
      <i class="fa-solid fa-sailboat"></i>
    </div>
    <p class="filterText">Boat</p>
  </div>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display taxes</label>
        </div>
    </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for (let listing of allListings) { %>
        <a href="/listings/<%= listing._id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url%>" class="card-img-top" alt="listings_image" style="height:20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b>
                        <br>
                        &#8377 <%= listing.price.toLocaleString("en-IN") %> / night
                        <i class="tax-info">&nbsp; &nbsp; +&nbsp;18%&nbsp; GST</i>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for (info of taxInfo) {
            if (info.style.display != "inline") {
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
        }
    });
</script>
